h1{
    color:white;
    Background-color:black;
    border:double;
    font:italic small-caps bold 25px/35px georgia seric;
}
h2{
    color:black;
    font-style:italic;
}
p{
    font-size:20px;
}









